<div class="card">
    <div class="card-body">
      <h5 class="card-title">Novo usuário</h5>
      
      <form (submit)="save()" >
        <div class="form-group">
          <label for="users-name">Nome</label>
          <input name="name" type="text" class="form-control" [(ngModel)]="users.name" id="user-name" placeholder="Seu nome"> 

        </div>

        <div class="form-group">
            <label for="users-email">Email</label>
            <input name="email" type="text" class="form-control" [(ngModel)]="users.email" id="user-email" placeholder="Seu email"> 
  
        </div>

          <div class="form-group">
              <label for="users-password">Senha</label>
              <input name="password" type="text" class="form-control" [(ngModel)]="users.password" id="user-password" placeholder="Sua senha"> 
    
          </div>
          <input type="submit" value="Salvar"  class="btn btn-primary">
      </form>
  
      <hr>
  
      <div class="btn-group">
      
       <p class="il"><a [routerLink]="['/users']" class="btn btn-secondary">voltar</a></p>
      </div>
  
    </div>
  </div>